<h2>Insanity Reminder yo!</h2>

<img src="http://morehappyhealth.com/wp-content/uploads/2009/07/logo.png" /><br /><br /><br />

<form action="/start">
  <label for="number">Your Number: </label> <input type="text" name="number" id="number" /> <br />(eg. "4151112222")<br /><br />
  <input type="submit" value="Let's get Insane!" />
</form>